doctype html
html
  head
    title RSBS Football Fixtures
    link(rel="stylesheet", href="/style.css")
  body
    h1 RSBS Football Fixtures
    each f in fixtures
      div.fixture
        strong #{f.league}:
        | #{f.home} vs #{f.away} | Home WDL: #{f.homeWDL} | Away WDL: #{f.awayWDL}
